@use "../abstract" as v;

.section-hero {
  .hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 9.6rem;
    margin: 0 auto;
    align-items: center;

    &__text-box {
      &--description {
        font-size: 2rem;
        line-height: v.$line-height-large;
      }
    }
    &__image-box {
      &--hero-image {
        width: 100%;
      }
    }

    &__delivered-meals {
      gap: 1.2rem;

      &--imgs {
        img {
          width: 4.8rem;
          height: 4.8rem;
          border-radius: v.$border-radius-circle;
          border: 3px solid v.$bg-lighter;
          &:not(:last-child) {
            margin-right: -1.6rem;
          }
        }
      }
      &--text {
        font-size: 1.8rem;
        font-weight: v.$font-weight-semi-bold;

        span {
          color: v.$primary-dark;
        }
      }
    }
  }
}
