@use "../abstract" as v;

/********************************/
/*Meal Section*/
/********************************/

.section-meals {
  .meal {
    box-shadow: 0 2.4rem 4.8rem rgba(v.$black, 0.07);
    border-radius: v.$border-radius-medium;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 3.2rem 6.4rem rgba(v.$black, 0.1);
    }

    &__card {
      padding: 3.2rem 4.8rem 4.8rem 4.8rem;
    }

    &__img {
      width: 100%;
    }

    &__tags {
      //margin-bottom: 1.2rem;
    }

    &__title {
      font-size: 2.4rem;
      font-weight: v.$font-weight-semi-bold;
      color: v.$dark-gray;
    }

    &__attribute-list {
      &--item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      &--icon {
        font-size: 2.4rem;
        color: v.$primary;
      }
    }
  }

  .diets {
    &__list-item {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      &-icon {
        font-size: 3rem;
        color: v.$primary;
      }
    }
  }

  .all-recipes {
    font-size: 1.8rem;
    text-align: center;
  }
}
