@use "../abstract" as v;

/********************************/
/*Testimonials Section*/
/********************************/

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

  .testimonials {
    gap: 4.8rem 8rem;

    &__figure {
      &-img {
        width: 6.4rem;
        border-radius: v.$border-radius-circle;
        margin-bottom: 1.2rem;
      }

      &-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 1.6rem;
      }

      &-name {
        font-size: 1.6rem;
        color: v.$tertiary-dark;
      }
    }
  }

  .gallery {
    gap: 1.6rem;
    //padding: 1.6rem 1.6rem 1.6rem 0;

    &__item {
      overflow: hidden;
      backface-visibility: hidden;

      img {
        display: block;
        width: 100%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
