/********************************/
/*Flex util classes*/
/********************************/

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

$justify-contents: (
  center: center,
  between: space-between,
  around: space-around,
);

@each $key, $value in $justify-contents {
  .jc-#{$key} {
    justify-content: $value;
  }
}

.ai-center {
  align-items: center;
}
