@use "../abstract" as v;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: v.$font-family;
  line-height: v.$line-height-normal;
  font-weight: v.$font-weight-normal;
  color: v.$gray;
}
