@use "../abstract" as v;

/********************************/
/*Typography*/
/********************************/
.heading-primary {
  font-size: 6.2rem;
  font-weight: v.$font-weight-bold;
  line-height: v.$line-height-small;
  color: v.$dark-gray;
  letter-spacing: -0.5px;
}
