/********************************/
/* Variables */
/********************************/

$light-gray: #888;
$gray: #555;
$dark-gray: #333;

$primary-light: rgb(235, 152, 78);
$primary: rgb(230, 126, 34);
$primary-dark: #cf711f;
$secondary: #45260a;

$bg-lighter: #fdf2e9;
$bg-light: #fae5d3;

$tertiary: #767676;
$tertiary-dark: #6f6f6f;

$white: #fff;
$black: #000;

$tag-bg-vegetarian: #51cf66;
$tag-bg-vegan: #94d82d;
$tag-bg-paleo: #ffd43b;

$font-family: "Rubik", sans-serif;

$border-radius-normal: 9px;
$border-radius-medium: 11px;
$border-radius-circle: 50%;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$line-height-normal: 1;
$line-height-small: 1.05;
$line-height-medium: 1.2;
$line-height-large: 1.6;

$grid-row-gap: 9.6rem;
$grid-column-gap: 6.4rem;
