/* color */
$light-gray: #888;
$gray: #555;
$dark-gray: #333;

$primary-light: #eb984e;
$primary: #e67e22;
$primary-dark: #cf711f;
$secondary: #45260a;

$bg-lighter: #fdf2e9;
$bg-light: #fae5d3;

$tertiary: #767676;
$tertiary-dark: #6f6f6f;

$white: #fff;

$font-family: "Rubik", sans-serif;

$border-radius-normal: 0.9rem;
$border-radius-medium: 1.1rem;
$border-radius-circle: 50%;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$line-height-normal: 1;
$line-height-small: 1.05;
$line-height-medium: 1.2;
$line-height-large: 1.6;
