/* color */
$light-gray: #888;
$gray: #555;
$dark-gray: #333;

$primary-light: #eb984e;
$primary: #e67e22;
$primary-dark: #cf711f;
$secondary: #45260a;

$bg-lighter: #fdf2e9;
$bg-light: #fae5d3;

$tertiary: #767676;
$tertiary-dark: #6f6f6f;

$white: #fff;

$font-family: "Rubik", sans-serif;

//#888
//#767676 (lightest grey allowed on #fff)
//#6f6f6f (lightest grey allowed on #fdf2e9)
//#555
//#333

//- Primary: #e67e22
//- Tints:
//  #fdf2e9
//  #fae5d3
//  #eb984e
//
//- Shades:
//  #cf711f
//  #45260a
